# Virtual environments
.venv/
venv/
ENV/
env/
.venv_old/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
.project
.pydevproject

# Testing and reports
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt
